#formTop {
  margin-top: 150px;
}

#contact-form {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 600px;
}

.formInput {
  padding-top: 40px;
}

#formSubmitButton {
  margin-top: 20px;
  border-style: solid;
  border-color: rgb(116, 113, 113);
  border-width: 2px;
  border-radius: 8px;
  width: 100px;
  color: pink;
}

