
.footer {
padding-top: 100px;
  clear: both;
  margin: 0 auto;
  position: relative;

  
}

.footer-logos {
  padding:10px;
  display: flex;
  flex-flow: row-wrap;
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
}

img.logo {
  margin: 10px;
  height: 35px;
  width: 35px;
}
