
.footer {
  /* position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 2px solid black;
  height: 10%;
  clear: both; */
  clear: both;
  margin: 0 auto;
  position: relative;

  
}

.footer-logos {
  padding:10px;
  display: flex;
  flex-flow: row-wrap;
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
}

img.logo {
  margin: 10px;
  height: 45px;
  width: 45px;
}
