.hamburgerIcon {
  display: none;
}


@media all and (max-width: 600px) {
  .hamburgerIcon{
  height:50px;
  width:50px;
  display: block;
  padding-top: 0px;
  padding-bottom: 20px;
  position: relative;
  margin:0 auto;
  z-index: 100;
  }

  #hamburger {
    display: flex;
    flex-direction: column;
  }

  #menu {
    text-align:center;
    margin-bottom: 5px;
  
  }
} 
