/***************** HOME **************/
  .bio {
  width: 75%;
  padding: 20px;
  text-align: left;
  color: rgb(94, 91, 91);
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: rgb(240, 237, 234);
}

#bioText {
  text-align: left;
  display: block;
  padding: 30px;
}

#profilePic {
  display: block;
  width: 200px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  -webkit-box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
  -moz-box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
  box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
}


/************************MEDIA Q********************************/


@media all and (max-width: 600px) {  

  .bio{
    width: 75%;
    padding: 20px;
    text-align: left;
    color: rgb(94, 91, 91);
    display: block;
    margin-top: 190px;
    background-color: white;
  }
  #profilePic {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
