#bioText {
  width: 75%;
  text-align: center;
  color: rgb(94, 91, 91);
  display: block;
  margin: 0 auto;
  background-color: rgb(240, 237, 234)
}

.profile {
  display: block;
  width: 200px;
  height: auto;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
}