/**********************NAVBAR***********************/

#home{
  flex-grow: 1;
}
.navigate {
  letter-spacing: 3px;
  padding: 2px;
  width: 100%;
  position:fixed;
  top: 0;
  left:0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(44, 43, 43);
  opacity: 0.9;
  transition:ease-in, top 500ms 0ms, opacity 500ms;
  -webkit-box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
  -moz-box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
  box-shadow: -1px 4px 11px -2px rgba(128,104,128,1);
}

.hidden {
  transition:ease-out, top 500ms 0ms, opacity 500ms;
  opacity: 0.0;
  top: -60px;
}

.navigate a {
  text-decoration: none;
  color: rgb(228, 220, 220);
  margin: 2px;
  border: 2px solid transparent;
  padding: 8px;
}

.navigate a:hover {
  text-decoration: none;
  background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigate a:active {
  background: linear-gradient(45deg, rgb(155, 1, 155) 0%, rgba(0,155,155,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 
@media all and (max-width: 600px) {
  .collapsed {
    display: none;
  }

  .navigate {
    position: relative;
    flex-direction: column;
    width: 300px;
    text-align:center;
    background-color: white;
    box-shadow: none;
  }

  .navigate a {
    color:  rgb(44, 43, 43);
  }
} 
