/*****************************PROJECTS***************************/


.projects {
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
}

.projDescr {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  color:  rgb(94, 91, 91);
  background-color: rgb(240, 237, 234);
  
}

.images img {
  padding: 20px;
  height: 200px;
}

.images, .projLinks {
  margin: 30px 20px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.projLinks a {
  border: 2px solid transparent;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 8px;
  text-decoration: none;
  background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projLinks a:hover, #main {
  border: 2px solid transparent;
  border-image: linear-gradient(10deg, rgb(149, 28, 153), rgb(69, 206, 194));
  border-image-slice: 1;
}



/************************MEDIA Q********************************/
@media all and (max-width: 600px) {
  .projects {
    margin-top: 250px;
  }
}

