#anbePortfolio {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

#anbeText {
  width: 75%;
  margin-left: 0;
  margin-right: 0;
}

.images {
  display: flex;
  flex-direction: row-wrap;
  align-self: center;
  align-content: space-around;
}

#anbeIphone {
  height: 200px;
}
#anbeComputer {
  height: 200px;
}