/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


body, html {
    height: 100vh;
  }

.navigate {
  padding: 10px;
  width: 100%;
  position:fixed;
  top: 0;
  left:0;
  margin: 0;
  display: flex;
  flex-flow: row-wrap;
  background-color: rgb(44, 43, 43);
}
.navigate a {
  text-decoration: none;
  color: rgb(228, 220, 220);
  margin: 2px;
  
}

.navigate a:hover {
  text-decoration: none;
  background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigate a:active {
  /* color: rgb(237, 241, 192) */
  padding: 8px;
  border: 2px solid transparent;
  border-image: linear-gradient(10deg, rgb(149, 28, 153), rgb(69, 206, 194));
  border-image-slice: 1;
}

li {
list-style: none;
 padding: 20px;
 margin-right: 20px;
} 


#home {
  flex-grow:2;
}

.bio {
  margin-top: 100px;
}