
/******MAIN STYLES******/
html, body {
  height: 100%;
  position: relative;
  font-family: 'Karla', sans-serif;
  color: rgb(94, 91, 91);
  line-height: 1.7;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h4, h5 {
  margin: 0;
  padding: 4px;
}

a {
  border: 2px solid transparent;
}

li {
    list-style: none;
    margin: 2px;
    padding: 12px;
    } 




 

   



/************************MEDIA Q********************************/


@media all and (max-width: 600px) {
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    overflow-y: scroll;
    position: relative;
  }
}
  

